<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="font-family:Calibri;">
    <a class="navbar-brand" href="#">{{this.loggedInUser.storeName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/app-store-home'">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>
<app-viewpatient-medicalstore-requests></app-viewpatient-medicalstore-requests>